%stdButton {
  @include sassy-button;
}

// the button for the load more calling ajax
.button__reload {
  position: absolute;
  top: -9999px;
  left: -9999px;

  .isLoaded & {
    @extend %stdButton;
    @extend %center;

    position: initial;

    &:before {
      padding-right: 0.6em;
    }
  }


}
