.stylised-form {
	@extend %center;
	max-width: 1200px;
	padding: 2em;

	.label {
		margin: 0 0.5em;
		padding: 0;
		font-size: 1.2em;
		font-family: $font-headings;
		text-align: left;

		@include m(fullwidth) {
			display: block;
		}
	}

	.input {
	}

	.input,
	.textarea {
		@include border-radius(3px);
		margin-bottom: 1em;
		padding: 0.3em;
		border: 1px solid $color-grey_light;
		font-size: 0.9em;
		font-weight: 200;
		text-align: left;

		&:focus {
			outline-offset: -2px;
			outline: $color-primary_light auto 5px;
		}
	}

	// I'm gonna do things backwards here for DRYness' sake
	@include breakpoint(44em) {
		.label {
			width: 30%;
			margin: 0;
		}
		.input {
			width: 70%;
		}
	}
	/*
	@include breakopint() {

	} */

	.submit {
		@include sassy-button;
		margin: 0 auto;
	}

	/**
	* This bit is a clever no-javascript anti-spam method.
	* Essentially if the bot fills in this field then we reject it
	* Thusly we hide it visually
	*/
	.noshow {
		width: 100% !important;
		height: 1px;
		height: 0;// for browsers woth height 0 bugs
		margin: 0;
		padding: 0;
		visibility: hidden;
		@include opacity(0);
		overflow: hidden;
	}
}// form


/*==========  Happy.js classes  ==========*/
span.unhappyMessage {
	@extend .grid__item;// so as to fix letter-spacing/word-spacing
	margin: -1em 0 1em;// inputs have 1em margin-bottom.
	color:$color-error;
	text-align: right;
}

.unhappy {
	outline-color: $color-error;
	outline-style: auto;
	outline-width:  5px;
	outline-offset: -2px;

	&:focus {
		outline-color: darken($color-error, 20%) !important;
	}
}
