/* ---------------- */
/* 	Import fonts		*/
/* ---------------- */

@include font-face($font-icons);
@include font-face(KlinicSlabMedium);
@include font-face(Ubuntu-L);


/* ---------------- */
/* 	  Set styles		*/
/* ---------------- */

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	color: $color-text;
	// font-size: $base-font-size;
	text-align: center;
	font-style: normal;
}// body

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
	color: $color-headings;
	font-style: normal;
}

section {
	text-align: left;
}

h3, h4, h5, h6 {
	color: lighten($color-text, 10%);
	margin-bottom: 1.2em;
}

// There might be a better way to write this- but it works
h1+h2, h2+h3, h3+h4 h4+h5, h5+h6{
	margin-top: 0;
}


//I've broken it into two parts
//so as to reduce the specificity of the rule
a {
	color: blue;
}
a:visited {
	color: blue;
}


ul {
	padding-left: 20px;
}
