/* ---------------- */
/* 	Import fonts		*/
/* ---------------- */

@include font-face($font-icons);
@include font-face(KlinicSlabMedium);
@include font-face(Ubuntu-L);


/* ---------------- */
/* 	  Set styles		*/
/* ---------------- */

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	color: $color-text;
	// font-size: $base-font-size;
	text-align: center;
	font-style: normal;
}// body

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
	color: $color-headings;
	font-style: normal;
}

section {
	text-align: left;
}

h3, h4, h5, h6 {
	color: lighten($color-text, 10%);
	margin-bottom: 1.2em;
}

// There might be a better way to write this- but it works
h1+h2, h2+h3, h3+h4 h4+h5, h5+h6{
	margin-top: 0;
}


//I've broken it into two parts
//so as to reduce the specificity of the rule
a {
	color: blue;
}
a:visited {
	color: blue;
}

ul {
	padding-left: 20px;
}

strong {
	font-family: $font-headings;
}

.error,
.error a {
	color: $color-error;
}

.success,
.success a {
	color: $color-success;
}

.lead {
	@extend strong;
	font-size: 1.2em;
	line-height: 1.5;
}

.text {
	@include e(wrapper) {
		margin-right: auto;
		margin-left: auto;

		@include breakpoint(55em) {
			width: 66%;
    }

		@include breakpoint(80em) {
      text-align: justify;
    }

    @include breakpoint(90em) {
    	width: 50%;
    }
	}// text__wrapper


	@include e(columns) {
		@include break-inside(avoid-column);

		@include breakpoint(55em) {
			@include column-fill(balance);
      @include column-count(2);
      @include column-gap(45px);
    }

    @include breakpoint(130em) {
      @include column-count(3);
    }

    p {
    	@include break-inside(avoid);
			@include experimental(page-break-inside, avoid);
			@include column-break-inside(avoid);
    }
	}// text--wrapper

	@include m(indent) {
		display: block;
		padding-left: 1em;
	}
}
