.columns{
 @include column-count(3);
 @include column-gap(30px);

 img {
  width: 100%;
  height: auto;
 }

 @include breakpoint(50em) {
   @include column-count(2);
   @include column-gap(10px);
 }
}

/**
 * .collage classes extend the .isotope default styles
 */
.collage {
@include element(filter) {

  a {
    margin-right: 10px;
    color:#666;
    text-decoration:none;
  }

  a.current {
    font-weight:bold;
  }

}// filter


@include element(wrapper) {
    width: 98%;
    position: relative;
    left: 1%;

  .grid {
    margin-left: 0;
  }

  .grid__item {
   padding: 12px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .width-1 {
    width: 12.5%;
  }
  .width-2 {
    width: 25%;
  }
  .width-3 {
    width: 50%;
  }
  .width-4 {
    width: 75%;
  }
  .width-5 {
    width: 100%;
  }
}// wrapper

@include modifier(odd) {
  background-color: lighten($color-primary_Xlight, 20%);
}


}// collage
