.columns {
  .csscolumns &:not(.filtered) {
    @include column-count(3);
    @include column-gap(30px);

    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint(50em) {
      @include column-count(2);
      @include column-gap(10px);
    }

    @include breakpoint(min-width 100em) {
      @include column-count(4);
      @include column-gap(40px);
    }
  } //csscolumns &
}// columns


.collage {
@include element(filter) {
  @extend %even-distribution--wrapper;
  padding: 1em 2em 0;

  h4 {
    margin-bottom: 0.2em;
  }

  a {
    @extend %even-distribution--item;
    margin-right: 10px;
    color: $color-text;
    text-decoration: none;
  }

  a.current {
    font-weight:bold;
  }

}// filter


@include element(wrapper) {
    width: 98%;
    margin-left: 0;
    position: relative;
    left: 1%;

  .column__item {
   margin-bottom: 2em;
   padding: 0;
   border: 1px solid $color-grey_light;

   .no-csscolumns & {
    padding: 1em 1em 0 1em;
   }

    img {
      width: 100%;
      height: auto;
    }

    .csscolumns & .markdown {
      padding: 1em 1em 0 1em;
    }
  }
}// wrapper

}// collage

// for the MixItUp js plugin
.mix_all {
  opacity: 0;
  display: none;
}
