.header
@include m(main) {
	padding: 0 2em;
	text-align: left;

  @include breakpoint(50em) {
		padding: 0;
  }

	.grid__item {
	  display: table-cell;
	  vertical-align: middle;
	}

	.logo__wrapper {

	}

	.logo {

	}
}// --main
}// .header

.nav--header {
  display: table;
  width: 100%;

	.nav__link__wrapper {

	}

	.icon__wrapper {

		a {
			color: $color-grey_light;
			text-decoration: none;

			&:before {
				font-size: 3em;
			}
		} // a

		@include breakpoint(min-width 31em) {
			text-align: right;
			a {
				display: block;
			}
		}

		@include breakpoint(31em) {
			padding: 2em;
		}

		@include breakpoint(50em min-width 31em) {
			padding-right: 2em;

			a {
				position: relative;
				margin-bottom: 1em;
				&:before {
					font-size: 2em;
				}
			}

			span {
				position: absolute;
				left: -3.5em;
				top: 0.5em;
			}
		}// breakpoint
	}

} //.nav--header


.nav__link {
	padding: 0 0.3em;
	text-decoration: none;

	.nav--header & {
		@extend %inline-block__hack;

		img {
			width: auto;
			height: 84px;
		  height: 8vw;
		  min-height: 65px;
		  max-height: 140px;
		}// img

		img,
		span {
		  @include breakpoint(50em) {
				display: block;
				margin: 0 auto;
		  }
		}// img & span

		span {
		  @include breakpoint(50em min-width 31em) {
				width: 150px;
				height: 30px;
				// font-size: 15px;
		  }
		  @include breakpoint(31em) {
		  	width: 80px;
		  }
	  }// span

	}// nav--footer &

	.nav--footer & {
		img {
			width: auto;
			height: 40px;
		  height: 4vw;
		  min-height: 20px;
		  max-height: 60px;
		}// img

		span {
			font-family: $font-headings;
			color: $color-text;
		}

		&:hover {
			border-bottom: 1px solid $color-text;
		}
	}// nav footer &

	@include breakpoint(50em) {
		text-align: center;
  }

  @include modifier(transition) {
  	span {
			@extend %screenreader;
			@include transition(all 0.2s ease-out);
		}

		.touch & span,
		&:hover span{
			font-size: 1.8em;
			font-family: $font-headings;
			line-height: 1;
			color: $color-text;

		  @include breakpoint(50em) {
				padding-top: 0.5em;
				font-size: 1.2em
		  }
		}// touch/hover span
  }

}// nav__link
