
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * How big would you like your tabs to be?
 */
$tab-size:  2;


/**
 * Colour settings.
 */

$color--background:     #222830;
$color--text:           white;
$color--comment:        #656565;
$color--selector:       #a0c25e;
$color--braces:         $color--selector;
$color--property:       #5ad6ef;
$color--value:          #5F9EA0;
$color--colons:         #999;
$color--string:         #70ade0;
$color--number:         #a56bc9;
