$font-body: 					"Ubuntu-L", "Helvetica Neue", "Helvetica", arial, sans-serif;
$font-headings: 			"KlinicSlabMedium", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
$font-icons: 					"icons";

$base-font-number: 		16;
$base-font-size: 			16px;
